extends layout

block content
  h1= title
  button(onclick="location.href='/new'") Add a New Message
  div(class='message-container')
    each message in messages
      div(class='message')
        div(class='message-text')= message.text
        div(class='user')= message.user
        div(class='date')= message.added
